header(id="header")
    .headerLeftBtns
        a.headerBtn(href='/')
            p Главная
        a.headerBtn(href='/staff')
            p Персонал
        a.headerBtn(href='/about')
            p О нас
    a.headerBtn.headerRightBtns(href='/booking')
        p Забронировать
    script(src='/javascripts/scroll.js')