extends layout
block content
    include header
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='style.css')
    title Круто
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование
    h1 Успешное бронирование

    include footer