.bookingWrapper {
  padding: 300px 0 341px 0;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    border: 1px solid black;
    height: 30px;
  }
  select{
    border: 1px solid black;
    height: 32px;
  }
  button {
    border: 1px solid black;
    height: 33px;
  }
}
