.staffWrapper {
  padding: 150px 0 100px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.staff {
  text-align: center;
  border: 1px solid white;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  font-family: Arial;
  box-shadow: 0px 0px 2px 0px #000000;
  img {
    max-width: 350px;
    max-height: 300px;
  }
  h3 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
    color: #4e4e4e;
  }
}
